html {
  height: 100%;
  width: 100%;
}

header {
  margin-bottom: 10px;
}

header h1 {
  font-size: 48px;
  margin: 0px;
  font-family: 'Lilita One', cursive;
  color: #E96479;
}

h1, h2 {
  text-align: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  align-content: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#logo {
  width: 100px;
}

.img {
  width: 400px;
} 

.button {
  background-color: #7DB9B6;
  border: 2px solid blue;
  color: #4D455D;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}